@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
}

.triangle-shape {
    border-top: 70px solid #eb0029;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: skew(15deg);
    margin-right: -15px;
}

.active:active {
    color: #eb0029 !important;
    background: transparent !important;
}